.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-form-1 {
  height: 181px;
  width: 500px;
  margin: 90px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}