<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
    <title>Новый работник</title>
</head>
<body>

<div>
    <h2>Добавление нового работника в список работников</h2>
</div>

<div>
    <form th:method="POST" th:action="@{/workers}" th:object="${worker}">
        <label for="first_name">Имя</label>
        <input name="first_name" type="text" id="first_name" />

        <br/>
        <br/>

        <label for="last_name">Фамилия</label>
        <input name="last_name" type="text" id="last_name"/>

        <br/>
        <br/>

        <label for="patronym">Отчество</label>
        <input name="patronym" type="text" id="patronym"/>

        <br/>
        <br/>

        <label for="post">Должность</label>
        <input name="post" type="text" id="post"/>

        <br/>
        <br/>

        <label for="birthday">День рождения</label>
        <input name="birthday" type="text" id="birthday"/>

        <br/>
        <br/>

        <label for="started_working">Работает с</label>
        <input name="started_working" type="text" id="started_working"/>

        <br/>
        <br/>

        <input type="submit" value="Добавить работника">

    </form>
</div>

</body>
</html>