<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Штатный состав кафедры</title>
</head>
<body>


<div th:if="@{}">
    <form th:action="@{/auth/login}">
        <input type="submit" value="Войти">
    </form>

    <form th:action="@{/auth/registration}">
        <input type="submit" value="Зарегестрироваться">
    </form>
</div>

<div>
    <h2>Штатный состав кафедры</h2>
</div>

<div>
    <form id="search">
        <p>Поиск</p>
        <input style="display: inline-block"/>
        <button style="display: inline-block">Поиск</button>
    </form>
</div>

<div>
    </br>
    <form th:action="@{/workers/new}">
        <input type="submit" value="Добавить работника">
    </form>
</div>

<div th:each="worker : ${workers}">
    <div>
        <form th:action="@{/workers/{id}(id=${worker.getId()})}">
            <p style="display: inline-block" th:text="${worker.getFirst_name()}"></p>
            <p style="display: inline-block" th:text="${worker.getLast_name()}"></p>
            <p style="display: inline-block" th:text="${worker.getPatronym()}"></p>
            <p style="display: inline-block" th:text="${worker.getPost()}"></p>
            <button type="submit">Показать</button>
        </form>
    </div>
    </br>
</div>

</body>
</html>