<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Работник</title>
</head>
<body>

<div>
    <h2>Информация</h2>
</div>

<div>
    <p th:text="${worker.getFirst_name()}"></p>
    <p th:text="${worker.getLast_name()}">VALUE</p>
    <p th:text="${worker.getPatronym()}">VALUE</p>
    <p th:text="${worker.getBirthday()}">VALUE</p>
    <p th:text="${worker.getPost()}">VALUE</p>
    <p th:text="${worker.getStarted_working()}">VALUE</p>
</div>

</body>
</html>