<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация</title>
</head>
<body>
<div>
    <h2>Создание нового пользователя</h2>
</div>

<div th:if="${param.error}">
    Неправильное имя пользователя или пароль.
</div>

<div th:if="${param.collision_error}">
    Пользователь с таким именем уже существует.
</div>

<div th:if="${param.logout}">
    Вы вышли из своего аккаунта.
</div>

<div>
    <form th:action="@{/auth/registration}" method="post">
        <div><label> Логин : <input type="text" name="login"/> </label></div>
        <div><label> Пароль: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Зарегестрироваться"/></div>
    </form>
</div>
</body>
</html>